<!-- partial:../../partials/_navbar.html -->
<nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo">
            <img src="assets/images/logo.svg"
                alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini">
            <img src="assets/images/logo-mini.svg"
                alt="logo" />
        </a>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center">

        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link"
                    id="UserDropdown"
                    href="#"
                    data-toggle="dropdown"
                    aria-expanded="false">
                    <span class="profile-text">Hello, Richard V.Welsh !</span>
                    <img class="img-xs rounded-circle"
                        src="assets/images/faces/face1.jpg"
                        alt="Profile image">
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-sm-none align-self-center"
            type="button"
            data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>
<!-- partial -->